{:paths
 ["src"]

 :deps
 {cheshire/cheshire   {:mvn/version "5.10.0"}
  com.wsscode/pathom3 {:mvn/version "2022.10.19-alpha"}
  org.clojure/clojure {:mvn/version "1.11.1"}
  http-kit/http-kit   {:mvn/version "2.5.3"}}

 :aliases
 {:ip-weather
  {:exec-fn com.wsscode.pathom3.demos.ip-weather/main}}}

